{% block header%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <div class="logo">LOGO</div>
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/login">LOGIN</a></li>
            <li><a href="/signup">SIGNUP</a></li>
        </ul>
    </nav>

{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <footer>yaha footer banega</footer>
    
</body>
</html>
{% endblock %}